<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Mirror</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    {% block more_head %}
    {% endblock %}
</head>

<body class="has-background-white has-text-black">

    <nav class="navbar is-fixed-top">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ url_for('main.index') }}">
                    Flask Mirror
                </a>
                <span class="navbar-burger" data-target="navbarMenuHeroA">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">

                <div id="flash-messages">
                    {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="notification is-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>

                <div class="navbar-end">
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('main.help') }}" class="navbar-item">
                        Help
                    </a>
                    <a href="{{ url_for('auth.profile') }}" class="navbar-item">
                        Profile
                    </a>
                    {% if current_user.role == 'admin' %}
                    <a href="{{ url_for('admin.manage') }}" class="navbar-item">
                        {% if pending_user_count > 0 %}
                        <span class="tag is-danger is-rounded ml-2" style="font-size: 0.8rem; padding: 0.2rem 0.4rem;">
                            {{ pending_user_count }}
                        </span>&nbsp;
                        {% endif %}
                        Admin
                    </a>
                    <a href="{{ url_for('dbadmin.index') }}" class="navbar-item">
                        db Mgmt
                    </a>
                    {% endif %}
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('auth.login') }}" class="navbar-item">
                        Login
                    </a>
                    <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                        Sign Up
                    </a>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                        Logout
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <div class="navbar-spacer"></div>

    <section class="hero has-background-white has-text-black is-fullheight is-spaced">
        <div class="hero-head">
            <!-- More header? -->
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    
            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {
    
                // Add a click event on each of them
                $navbarBurgers.forEach( el => {
                    el.addEventListener('click', () => {
    
                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);
    
                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
    
                    });
                });
            }
        });

        // Automatically hide flash messages after 5 seconds
        document.addEventListener('DOMContentLoaded', () => {
            const flashMessages = document.getElementById('flash-messages');
            if (flashMessages) {
                setTimeout(() => {
                    flashMessages.innerHTML = ''; // Clear flash messages
                    //flashMessage.classList.add('is-hidden');
                }, 5000); // 5000 milliseconds = 5 seconds
            }
        });

        function displayFlashMessages(messages) {
            const flashContainer = document.getElementById('flash-messages');

            // Clear any existing messages
            flashContainer.innerHTML = '';

            messages.forEach(([category, message]) => {
                const flashMessage = document.createElement('div');
                //flashMessage.className = 'flash-message';
                flashMessage.className = `notification is-${category}`;
                flashMessage.textContent = message;
                flashContainer.appendChild(flashMessage);
            });

            if (flashContainer) {
                setTimeout(() => {
                    flashContainer.innerHTML = ''; // Clear flash messages
                    //flashMessage.classList.add('is-hidden');
                }, 5000); // 5000 milliseconds = 5 seconds
            }
        }

    </script>

</body>

</html>
